* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0), 85% rgba(0, 0, 0, 0.2)), url(../assignments/ica5/ica5img/top-image.png) no-repeat left top, url(../assignments/ica5/ica5img/bottom-image.png) no-repeat left bottom;
}

/* put images in article */

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-image: url(ica5img/logo.png);
  box-shadow: 4px 4px 4px black;
  border-radius: 50px;

}

/* Your CSS below here */

article{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0), 85% rgba(0, 0, 0, 0.2)), url(../assignments/ica5/ica5img/top-image.png) no-repeat left top, url(../assignments/ica5/ica5img/bottom-image.png) no-repeat left bottom;
  border-top: 1mm solid red;
  border-bottom: 1mm solid red;
}


