article {
  border: 5px solid #6E8440;
}

img {
  position: relative;
  border: 5px solid #6E8440;

}

body {
  max-width: 800px;
  margin: 0 auto;
  
}

.sender-column {
  text-align: right;
}

button:hover {
  background-color: black;
  color: white;
}

button {
  margin-left: 27vw;
  background-color: white;
  border: 3px solid black;
  color: black;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family: 'Dosis', sans-serif;
  border-radius: 40px;
}

button:active {
  background-color: black;
  color: white;
}

h1 {
position: relative;


font-family: 'Courier Prime';
font-style: normal;
font-weight: 700;
font-size: 100px;


color: #6E8440;
}

h2 {
  position: relative;


font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 80px;


color: #474242;

}

h3 {
position: relative;


font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 80px;


color: #6E8440;

}

h4 {
  position: relative;


font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 60px;


color: #474242;

}

h5 {
  position: relative;


font-family: 'Courier Prime';
font-style: normal;
font-weight: 400;
font-size: 40px;


color: #474242;

}

h6 {
  position: relative;
 
  
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  
  
  color: #474242;

}

p {
  position: relative;


font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;


color: #474242;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;

}

@media screen and (max-width: 992px) {
  .column{
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .row {
    flex: 50%;
  }
}