.head{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-family: "Impact";
}

.head img {
    height: 450px;
    width: 333px;
  }

.head h1{
    font-family: "Impact";
    padding: 10px 30px;
    color: #474242;
    font-size: 40px;
    margin-top: 50px;
}

.head h2{
  font-family: "Impact";
  padding: 10px 30px;
  color: #6E8440;
  font-size: 40px;
  margin-top: -50px;
}

.head h3{
      font-family: "Trebuchet MS";
      padding: 20px 30px;
      color: #474242;
      font-size: 30px;
}

.resume img{
    height: 1128px;
    width: 828px;
    margin-top: -80px;
}

.body {
    margin-top: 50px;
    font-family: "Trebuchet MS";
    display: flex;
    justify-content: center;
    align-items: center;
}

.body h1 {
  font-family: "Trebuchet MS";
  padding: 20px 30px;
  color: #6E8440;
  font-size: 40px;
  margin-top: -50px;
}

.body img{
  height: 450px;
  width: 333px;
}

.biotext{
  border: 1px solid #475E51;
  background-color:  #d4debe;
  width: 960px;
  padding: 20px;
}

.biotext h4{
      font-family: "Trebuchet MS";
      padding: 20px 30px;
      color: #474242;
      font-size: 40px;
}

.navbar {
    overflow: hidden;
    font-family: "Impact";
    background-color: #475E51;
    text-decoration: none;
    justify-content:space-evenly;
}
  
.navbar h1 {
    font-size: 43px;
    /* padding: 10px 10px; */
    float: center;
    text-align: center;
    color: white;
    text-decoration: none;
}

.navbar a {
    font-size: 20px;
    padding: 20px 20px;
    align-items: center;
    float: left;
    text-align: left;
    color: white;
    text-decoration: none;
    justify-content:space-evenly;
}
  
.navbar a:hover {
    background-color: #d4debe;
    color: black;
}
  
.p5 {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  padding: 20px 20px;
  font-family: "Impact";
}